<h1>Details of a given Post</h1>
<div style="border: 1px solid #000; margin: 1rem; padding: 8px 1rem;">
  <div
    style="
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <h2>Post by username: <%= @post.author.name %> - <%= @post.title %></h2>
    <div style="display: flex; gap: 1rem">
      <p>Comments: <%= @post.comments_counter %></p>
      <p id="likes-counter">Likes: <%= @post.likes_counter %></p>
    </div>
  </div>
  <p>
    <%= @post.text %>
  </p>
  <div style="border: 1px solid #000; display: flex; flex-direction: column; gap: 1rem;">
    <% if @comments.empty? %>
      <p> There are no comments </p>
    <% else %>
      <% @comments.each do |comment| %>
        <div>
          <p>Username: <%= comment.user.name %></p>
          <p><%= comment.text %></p>
          <% if current_user == comment.user || current_user.role == 'admin' %>
            <%= render partial: 'comments/delete_form', locals: { comment: comment } %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div id="post-<%= @post.id %>-like-buttons">
      <%= form_with url: user_post_likes_path(@user, @post), model: Like do |form| %>
        <%= form.hidden_field  :post_id, value: @post.id %>
        <div class='like-button'>
          <%= form.submit "Like post" %>
        </div>
      <% end %>
    </div>
    <div>
      <a href="<%= new_user_post_comment_path(@current_user, @post) %>">Create a new comment</a>
    </div>
  </div>
</div>
